%mul-700 {
    font-family: 'MullerBold', sans-serif;
    font-weight: 700;
}

%mul-500 {
    font-family: 'MullerMedium', sans-serif;
    font-weight: 500;
}

%mul-400 {
    font-family: 'MullerRegular', sans-serif;
    font-weight: 400;
}

%unb-400 {
    font-family: 'Unbounded-Regular', sans-serif;
    font-weight: 400;
}